doctype html
html(lang="en")
    include ../partials/head.pug
    body
        include ../partials/header.pug
        main
            div !{content}
            ol 
                for word in words[language]
                    li #{word[source]} : #{word[target]}

        include ../partials/footer.pug
