$color_dark: #351925
$color_light: #D4E1C5
$font_headings: sans-serif
$font_body: serif
$size_mobile: 320px
$size_tablet: 768px
$size_desktop: 1024px


// :root
//     --color-dark: #351925
//     --color-light: #D4E1C5